*.pyc
datasets/
*.pb
*.gz
.idea/
*.hdf5
*.log
client/dicebox_test_data/
venv/
tensorflow_macos_venv/

#what have i done..
# sym links
primordialpool/datasets
primordialpool/lib
server/lib
lonestar/datasets
lonestar/lib

# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

.coverage
htmlcov/

test/fixtures/mnist/population/
projects/mnist/mnist_test_28x28/
projects/mnist/mnist_train_28x28/
vendored-libraries/
