[DATASET]
name = dicebox
image_width = 100
image_height = 100
categories = 19

[TAXONOMY]
neurons: [1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]
layers: [1, 2, 3, 5, 8, 13, 21]
activation: ["softmax", "elu", "softplus", "softsign", "relu", "tanh", "sigmoid", "hard_sigmoid", "linear"]
optimizer: ["rmsprop", "adam", "sgd", "adagrad", "adadelta", "adamax", "nadam"]

[LONESTAR]
neurons = 144
layers = 8
activation = softmax
optimizer = adamax

[EVOLUTION]
epochs = 10000
generations = 100
population = 50

[TRAINING]
batch_size = 20000
train_batch_size = 223000
test_batch_size = 20000
load_best_weights_on_start = True

[DIRECTORY]
dataset_base_directory = datasets
logs_dir = ./logs
weights_dir = ./weights
tmp_dir = ./tmp

[SERVER]
api_access_key = 6e249b5f-b483-4e0d-b50b-81d95e3d9a59
api_version = 0.2.2
listening_host = 0.0.0.0
flask_debug = False
model_weights_filename = weights.best.hdf5

[GLOBAL]
noise = 0.5

[CLIENT]
classification_server = localhost
classification_port = 5000
uri = http://
