# 1.18.5 used for arm support currently
#numpy==1.18.5
numpy==1.19.2
tensorflow==2.5.0

pillow==8.1.0
configparser==5.0.1
pika==1.1.0
requests==2.25.1
typing==3.7.4.3


# primordial pool
tqdm==4.55.1
uuid==1.30
